body {
    margin: 0;
    padding: 0;
    background: white;
}

h1, h2, h3, h4, h5, p, ul {
    margin: 0;
    padding: 0;
}

.main {

}

/*top-content*/

.top-content {
    position: relative;
}

.top-content__img {
    width: 100%;
    position: relative;
    top: 0;
    z-index: -1;
}

.top-content__body {
    /*padding: 250px;*/
    /*position: relative;*/
    /*bottom: -50%;*/
    position: absolute;
    top: 38%;
    left: 13%;
    z-index: 1;
}

.top-content__title {
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #FFFFFF;
    box-shadow: 0 5px 15px 0 #FFFFFF0D;
}

.top-content__text {
    margin-top: 30px;
    max-width: 660px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    color: #FFFFFF;
    box-shadow: 0 5px 15px 0 #FFFFFF0D;
}

/*top-content*/
/*contents*/

.contents {
    margin: auto;
    width: auto;

}

/*product-line*/

.product-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 40px;
}

.product-line__category {
    display: inline-block;
    width: 50%;
    padding: 10px;
    color: #111111;
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
}

.product-line__category--active {
    border-bottom: 3px solid #111111;
}

.product-line__industry {
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 10px;
    color: #111111;
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
}

.product-line__industry:hover::before {
    transform: scaleX(1);
}

.product-line__industry::before {
    content: "";
    display: inline-block;
    position: absolute;
    background: #111111;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 3px;
    transform: scaleX(0);
    transition: transform .3s ease-out;
}

/*product-line*/
.product {

}

.product__list {

}

.product__item {
    border-bottom: 1px solid #949494
}

.product__body {
    margin: auto;
    padding: 80px 0;
    max-width: 1280px;
}


.category {
    width: 100%;
    display: inline-block;
}

.category__title {
    min-height: 90px;
    min-width: 450px;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    padding: 0 10px;
    align-items: center;
    display: inline-flex;
}

.category__list {
    display: flex;
    justify-content: left;
    align-items: start;
    flex-flow: row;
    flex-wrap: wrap;
}

.category__item {
    padding: 10px 10px 0 10px;
}

.card {
    max-width: 300px;
    padding: 50px 0;
}

.card__photo {
    width: 300px;
    transition: opacity 0.3s ease-out;
}
.card__photo:hover{
        opacity: 0.7;
        transition: opacity 0.3s ease-out;
}

.card__title {
    padding-top: 20px;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
}

/*contents*/


/*info*/


.info {
    margin: auto;
    padding: 120px 0;
    max-width: 1280px;
}

.business-search {
    padding-bottom: 150px;
}

.search-keywords {
    display: block;
}

.search-keywords__libel {
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    display: flex;
    justify-items: center;
    align-items: center;
}

.search-keywords__input {
    position: relative;
    left: 0;
    width: calc(100% - 240px);
    margin-left: 20px;
    padding: 0 30px;
    height: 75px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #949494;
    border: 1px solid #111111;
    border-radius: 100px;
}

.search-keywords__submit {
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 0;
    background: none;
    border: none;
    right: 30px;
}

.info__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.info__block {
height: auto;
    border: 1px solid #111111;
    padding: 50px;
    display: flex;
    flex-flow: column;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    justify-content: center;
}
.info__block--center{
    align-items: center;
}

.info__title{
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}
.info__text{
    padding: 20px 0 30px;
}

.info__link--black {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  padding: 15px 0;
    width: 40%;
    text-align: center;
    color: white;
    background: #222222;
}
.info__icon-mail{
width: 24px;
    height: 24px;
   padding-right: 10px;
}


/*info*/

/*news*/

.news {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: #111111;
    background-color: #f3f3f3;
}

.news-item__link {
    margin-left: 20px;
    position: relative;
}

.news-item__data {
    width: 110px;
    text-align: center;
}

/*news*/

.bottom-content{
   background-color: #111111;
}

/*featured*/

.featured{
    padding: 120px 80px;
    width: auto;
    max-width: 1280px;
    margin: auto;
    color: #ffffff;
}
.featured__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
text-align: center;
}
.featured__list{
    display: grid;
    gap: 50px 20px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 50px;

}
.featured__item{

}
.featured__img{
    width: 100%;
    transition: opacity 0.3s ease-out;
}
.featured__img:hover{
    opacity: 0.7;
    order: 1;
    transition: opacity 0.3s ease-out;
}
.featured__cart-title{
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #ffffff;

}
.featured__text{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

/*featured*/

/*technology-design*/
.technology-design{
    width: auto;
    max-width: 1280px;
    margin: auto;
    color: #ffffff;
}
.technology-design__title{
    text-align: center;
}
.technology-design__text{
    margin: auto;
    width: 80%;
    padding-top: 50px;
    text-align: center;
}
.technology-design__link{
    display: block;
    margin: 50px auto;
width: fit-content;
    padding: 15px 50px;
    border: 1px solid #949494;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    box-sizing: border-box;
    color: #111111;
    background-color: #fff;
    transition: background-color 0.2s ease-out;
}
.technology-design__link:hover{
    background-color: #dbdbdb;
}

.business-technology__media{
    width: 100%;
}

/*technology-design*/

/*footer-sitemap*/

.footer-sitemap{
    color: #ffffff;
    background: #111111;
    border-bottom: 1px solid #949494;
}
.footer-sitemap__inner{
    width: auto;
    max-width: 1280px;
    margin: auto;
    padding: 120px 80px;
}
.footer-sitemap__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px 40px;
}
.footer-sitemap__category{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
.footer-sitemap__link-item{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
.footer-sitemap__link{
    color: #ffffff;
}

/*footer-sitemap*/