html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'sans-serif';
    font-size: 20px;
    background: #F2F2F2;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}

/* Global Page Header */

.global-header {
    position: absolute;
    width: 100%;
    z-index: 3;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
}

.location__form {
    display: inline-flex;
    align-items: center;
    margin-right: 350px;
}

.location__info-text {
    display: inline-block;
    margin-right: 50px;
}
.location__select {
    font-family: Roboto, 'sans-serif';
    font-size: 16px;
    display: inline-block;
    margin-right: 20px;
    padding: 15px 165px 15px 10px;
    background: #EAEAEA;
    border: 1px solid #949494;
    border-radius: 4px;
}
.location__label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
}

.location__close {
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Global Page Header End */



/* Header Template */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 250px;
    background: rgba(42, 42, 42, 0.85);
}

.header__block /*.navbar-block*/ {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.navbar-block__links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-block__item {
    font-size: 20px;
    text-align: center;
}

.navbar-block__item:not(:last-child) {
    margin-right: 30px;
}

.navbar-block__tag {
    align-self: flex-end;
    color: #ffffff;
}

.navbar-block__link {
    color: #ffffff;
}


/* Header Template End */



/* Buttons And Links */

.dark-button {
    border: 1px solid #949494;
    font-family: Roboto, 'sans-serif';
    font-size: 20px;
    padding: 13px 50px;
    background: #222222;
    color: #ffffff;
    cursor: pointer;
    transition: background-color .2s;
}

.dark-button::after {
    content: "";
    font-size: 16px;
    display: inline-block;
    width: 0.44em;
    height: 0.88em;
    margin: 0 0 0 19px;
    vertical-align: middle;
    background: url(../imgs/button_arrow_light.svg) no-repeat 0 0;
    background-size: contain;
}

.dark-button:hover {
    background-color: #949494;
}

.light-link {
    position: relative;
    color: #FFFFFF;
}

.light-link::before {
    content: "";
    display: block;
    position: absolute;
    background: #ffffff;
    bottom: -2px;
    left: 0;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    transition: transform .3s ease;
}

.light-link:hover::before {
    transform: scaleX(1);
}

.light-link::after {
    content: "";
    font-size: 16px;
    display: inline-block;
    width: 0.44em;
    height: 0.88em;
    margin: 0 0 0 19px;
    vertical-align: middle;
    background: url(../imgs/button_arrow_light.svg) no-repeat 0 0;
    background-size: contain;
}

.dark-link {
    position: relative;
    color: #000000;
}

.dark-link::before {
    content: "";
    display: block;
    position: absolute;
    background: #000000;
    bottom: -2px;
    left: 0;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    transition: transform .3s ease;
}

.dark-link:hover::before {
    transform: scaleX(1);
}

.dark-link::after {
    content: "";
    font-size: 16px;
    display: inline-block;
    width: 0.44em;
    height: 0.88em;
    margin: 0 0 0 19px;
    vertical-align: middle;
    background: url(../imgs/button_arrow_dark.svg) no-repeat 0 0;
    background-size: contain;
}

/* Buttons And Links End */



/* Global Page Cards */

.page-cards {
    padding-top: 85px;
    display: flex;
    width: 100%;
}

.page-cards__item {
    display: flex;
    width: 33.3%;
    text-align: center;
    height: 880px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.page-cards__button {
    color: #ffffff;
}

.page-cards__title {
    font-size: 48px;
    text-transform: uppercase;
}

.page-cards__button {
    font-size: 28px;
    transition: all .3s;
}

.page-cards__button:hover {
    background: rgba(0,0,0,0.7);
    border: 1px solid #ffffff;
    padding: 20px 30px;
}

#business-card {
    background: url("../imgs/global-page/pages-cards/business-card.png");
}

#consumer-card {
    background: url("../imgs/global-page/pages-cards/consumer-card.png");
}

#about-us-card {
    background: url("../imgs/global-page/pages-cards/about-us-card.png");
}

/* Global Page Cards End*/



/* Global Page Ces */

.ces {

}

.ces__main {
    background: url("../imgs/global-page/ces/background.png");
    padding-top: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.ces__main:hover {
    cursor: pointer;
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ),
    url("../imgs/global-page/ces/background.png");
}

.ces__title-top {
    font-size: 128px;
    margin: 0;
}

.ces__text {
    text-align: center;
    margin-bottom: 80px;
}

.ces__mini-description {
    font-size: 16px;
}

/* Global Page Ces End */



/* Global Page Vision */

.vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    text-align: center;
}

.vision__entry {
    margin-bottom: 30px;
}

.vision__title {
    font-size: 36px;
}

.vision__subtitle {
    font-size: 32px;
    max-width: 796px;
    margin: 0;
}

.vision-body__list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.vision__card /* vision-card */ {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    height: 870px;
    text-align: left;
    margin-right: 20px;
    background: #ffffff;
}

.vision-card__body {
    padding-left: 50px;
    align-self: stretch;
    justify-content: stretch;
}

.vision-card__title {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 30px 0;
}

.vision-card__description {
    margin: 0 0 50px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.109;
}

/* Global Page Vision End */



/* Global Page News */

.news {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 120px 370px;
    font-size: 16px;
    font-weight: 600;
}

.news__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 0;
}

.news-header__body {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.news-header__title {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
}

.news__item /* news-item */ {
    display: flex;
    position: relative;
    padding: 25px 0;
    border-bottom: 1px solid #949494;
}

.news-item__category {
    position: absolute;
    background: #F2F2F2;
    text-align: center;
    margin-left: 120px;
    width: 220px;
    padding: 3px 0;
    top: 20px;
}

.news-item__link {
    position: absolute;
    margin-left: 360px;
}

/* Global Page News End */



/* Warning Block */

.warning-block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding: 120px 0;
}

.warning-block__text {
    display: inline-block;
    margin: 0;
}

.warning-block__img {
    margin-right: 10px;
}

/* Warning Block End */